body {
   font-family: "Monaco", "Lucida Grande", sans-serif;
   font-size: 10px;
   background: black;
   color: #fff;
}

a {
    color: #00F;
    text-decoration: none;
}

a:hover {
    color: #00F;
    text-decoration: underline;
}

pre { 
    margin: 0; 
}
